<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/task 
		http://www.springframework.org/schema/task/spring-task-3.2.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<mvc:interceptors>
		
		<!-- 请求异常处理 -->
		<mvc:interceptor>
			<mvc:mapping path="/**/**.do" />
			<mvc:mapping path="/**/**.terminal" />
			<beans:bean class="com.esite.framework.system.interceptor.ExceptionInterceptor"/>
		</mvc:interceptor>
		
		<!-- 终端令牌验证 -->
		<mvc:interceptor>
			<mvc:mapping path="/**/**.do" />
			<mvc:exclude-mapping path="/security/login.do" />
			<mvc:exclude-mapping path="/oldperson/**/photo.do" />
			<beans:bean class="com.esite.framework.system.interceptor.TerminalTokenInterceptor"/>
		</mvc:interceptor>
		
		<!-- 全局session验证 -->
		<mvc:interceptor>
			<mvc:mapping path="/**/**.do" />
			<mvc:exclude-mapping path="/oldperson/**/photo.do" />
			<mvc:exclude-mapping path="/security/login.do" />
			<mvc:exclude-mapping path="/security/logout.do" />
			<mvc:exclude-mapping path="/security/login/page.do" />
			<beans:bean class="com.esite.framework.system.interceptor.SessionTimeoutInterceptor"/>
		</mvc:interceptor>
		
		<!-- 重复提交验证 -->
		<mvc:interceptor>
			<mvc:mapping path="/**/**.do" />
			<mvc:mapping path="/*.do" />
			<mvc:exclude-mapping path="/**/**.terminal" />
			<beans:bean class="com.esite.framework.system.interceptor.AvoidDuplicateSubmissionInterceptor"/>
		</mvc:interceptor>
		
		<!-- SecurityInterceptor -->
		<mvc:interceptor>
			<mvc:mapping path="/**/**.do" />
			<mvc:exclude-mapping path="/security/login.do" />
			<mvc:exclude-mapping path="/security/logout.do" />
			<mvc:exclude-mapping path="/security/login/page.do" />
			<mvc:exclude-mapping path="/oldperson/**/photo.do" />
			<mvc:exclude-mapping path="/http/health/**/**.do" />
			<mvc:exclude-mapping path="/http/operator/**/**.do" />
			<mvc:exclude-mapping path="/http/oldperson/**/**.do" />
			<mvc:exclude-mapping path="/http/notice/**/**.do" />
			<mvc:exclude-mapping path="/http/cycle/**/**.do" />
			<mvc:exclude-mapping path="/http/oldperson/**/photo.do" />
			
			<mvc:exclude-mapping path="/user/up/manager.do" />
			<mvc:exclude-mapping path="/user/down/manager.do" />
			<mvc:exclude-mapping path="/health/report/ecg.do" />
			
			<mvc:exclude-mapping path="/organize/simple/async/load.do" />
			<beans:bean class="com.esite.framework.security.interceptor.SecurityInterceptor"/>
		</mvc:interceptor>
		
		<mvc:interceptor>
			<mvc:mapping path="/*" />
			<mvc:mapping path="/login.jsp" />
			<mvc:mapping path="/**/**.jsp" />
			<mvc:mapping path="/**/**.do" />
	    	<beans:bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor"/>
	    </mvc:interceptor>
	    
	</mvc:interceptors>
    
	<mvc:annotation-driven>
        <mvc:message-converters>
            <beans:bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <beans:property name="supportedMediaTypes">
                    <beans:list>
                        <beans:value>text/plain;charset=UTF-8</beans:value>
                        <beans:value>text/html;charset=UTF-8</beans:value>
                        <beans:value>application/json;charset=UTF-8</beans:value>
                    </beans:list>
                </beans:property>
            </beans:bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

	<!-- Resolves views selected for rendering by @Controllers to .jsp resources in the /WEB-INF/views directory -->
	<beans:bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<beans:property name="prefix" value="/jsp/" />
		<beans:property name="suffix" value=".jsp" />
	</beans:bean>
	
	<mvc:resources mapping="/js/**" location="/js/" />
	
	<!-- Imports user-defined @Controller beans that process client requests -->
	<beans:import resource="controllers.xml" />
	<!-- springMVC 上传文件时，需配置MultipartResolver处理器 -->
	<beans:bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 指定上传文件总大小 -->
		<beans:property name="maxUploadSize" value="947752488000"></beans:property>
	</beans:bean>
	
	<task:annotation-driven />
	
</beans:beans>