<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd
            http://www.springframework.org/schema/data/jpa
          	http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">
            
	<context:annotation-config />

	<context:component-scan base-package="com.esite"/>

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
	</bean>
	
	<!-- jpa事物 -->
	<!-- 启用 annotation事务--> 
	<tx:annotation-driven transaction-manager="transactionManager"/>
	<!-- 配置事务管理器 -->  
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean> 
	<!-- 定义实体管理器工厂 -->
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataPersistentSource" />
	</bean>
	<!-- 配置Spring Data JPA扫描目录-->
	<jpa:repositories
		base-package="com.esite" 
		transaction-manager-ref="transactionManager"
		factory-class="com.esite.framework.core.dao.jpa.factory.CustomRepositoryFactoryBean"
		entity-manager-factory-ref="entityManagerFactory" 
		/>
	<!-- jpa事物 -->

	<!-- jdbc事物-->
	<tx:annotation-driven transaction-manager="jdbcTransactionManager"/>
	<bean id="jdbcTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataPersistentSource" />
	</bean>
	<!-- jdbc事物-->

	<bean id="localCacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation">
			<value>classpath:ehcache.xml</value>
		</property>
	</bean>
	
	<bean id="cache" class="com.esite.framework.core.cache.CachePool">
		<constructor-arg index="0" type="int">
			<value>3600</value>
		</constructor-arg>
		<constructor-arg index="1" type="java.lang.String">
			<value>Application</value>
		</constructor-arg>
	</bean>
	
	<bean id="baseDAO" abstract="true" class="com.esite.framework.core.dao.jdbcDaoImpl.MySQLJdbcBaseDAOImpl" >
		<property name="dataSource">
			<ref bean="dataPersistentSource" />
		</property>
	</bean>
	
	<!-- Persistent data source config-->
	<bean id="dataPersistentSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" init-method="getConnection" destroy-method="close">
		<property name="user" value="${jdbc.user}"></property>
		<property name="password" value="${jdbc.password}"></property>
		<property name="driverClass" value="${jdbc.driverClass}"></property>
		<property name="jdbcUrl" value="${jdbc.url}"></property>
		<property name="acquireRetryAttempts" value="1" />
	</bean>

	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames" value="language/system_messages,language/information,language/system_config" />
	</bean>
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
		<property name="defaultLocale" value="zh"/>
	</bean>

</beans>