<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd">
            

	<!--
	<bean id="userLoginServiceTarget" class="com.esite.framework.security.service.impl.UserLoginServiceImpl"></bean>
	<bean id="userLoginService"  parent="dataPersistentProxyTemplate" >
		<property name="target">
			<ref local="userLoginServiceTarget" />
		</property>
	</bean> 
	 -->
	<bean id="userLoginService" class="com.esite.framework.security.service.impl.UserLoginServiceImpl"></bean>
	
 	<bean id="roleCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
 		<property name="cacheManager" ref="localCacheManager"/>
 		<property name="cacheName" value="roleCache"/>
 	</bean>
	<bean id="roleService" class="com.esite.framework.security.service.impl.RoleServleceImpl">
 		<property name="roleCache">
 			<ref bean="roleCache" />
 		</property>
	</bean>
	
<!--  	<bean id="roleDAO" class="com.esite.framework.security.dao.impl.RoleDAOImpl" parent="baseDAO"></bean>  -->
	
	<bean id="globalResourceCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
		<property name="cacheManager" ref="localCacheManager"/>
		<property name="cacheName" value="globalResourceCache"/>
	</bean>
	<bean id="resourceService" class="com.esite.framework.security.service.impl.ResourceServiceImpl">
		<property name="globalResourceCache">
			<ref bean="globalResourceCache" />
		</property>
	</bean>
	
	<bean id="requestResourceDAO" class="com.esite.framework.security.dao.impl.RequestResourceDAOImpl" parent="baseDAO"></bean>
	
	<bean id="systemMenuCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
		<property name="cacheManager" ref="localCacheManager"/>
		<property name="cacheName" value="systemMenuCache"/>
	</bean>
	<bean id="menuCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
		<property name="cacheManager" ref="localCacheManager"/>
		<property name="cacheName" value="menuCache"/>
	</bean>
	<bean id="systemMenuService" class="com.esite.framework.security.service.impl.SystemMenuServiceImpl">
		<property name="menuCache">
			<ref bean="menuCache" />
		</property>
		<property name="systemMenuCache">
			<ref bean="systemMenuCache" />
		</property>
	</bean>
	
	<bean id="systemMenuDAO" class="com.esite.framework.security.dao.impl.SystemMenuDAOImpl" parent="baseDAO"></bean>
	
	<!-- function serviec -->
	<bean id="functionService" class="com.esite.framework.security.service.impl.FunctionServiceImpl">
	</bean>
	
	<bean id="functionDAO" class="com.esite.framework.security.dao.impl.FunctionDAOImpl" parent="baseDAO"></bean>
	
</beans>