<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	
	<display-name>老年人综合信息管理系统</display-name>
	
	<welcome-file-list>
		<welcome-file>/jsp/login.jsp</welcome-file>
	</welcome-file-list>

	<listener>
		<description>spring监听器</description>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:/spring_configs/**/applicationContext.xml
		</param-value>
	</context-param>

	<servlet>
		<servlet-name>SpringMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				classpath*:/spring_configs/spring-servlet.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SpringMVC</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>ResponseCacheFilter</filter-name>
		<filter-class>com.esite.framework.core.filter.ResponseCacheFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ResponseCacheFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.esite.framework.core.listener.BeanFactoryListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.esite.framework.core.listener.SystemInitListener</listener-class>
	</listener>
	<listener>
    	<listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
  	</listener>
  	
  	<servlet>
    	<servlet-name>WSServlet</servlet-name>
    	<servlet-class>
			com.sun.xml.ws.transport.http.servlet.WSServlet
		</servlet-class>
    	<load-on-startup>1</load-on-startup>
  	</servlet>
 	<servlet-mapping>
    	<servlet-name>WSServlet</servlet-name>
    	<url-pattern>/ws</url-pattern>
  	</servlet-mapping>
  	
	<error-page>
		<error-code>401</error-code>
		<location>/jsp/errorpages/401.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/jsp/errorpages/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/jsp/errorpages/500.jsp</location>
	</error-page>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    
	<jsp-config>
		<taglib>
			<taglib-uri>/WEB-INF/c.tld</taglib-uri>
			<taglib-location>/WEB-INF/taglib/c.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/view</taglib-uri>
			<taglib-location>/WEB-INF/taglib/esite.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/fmt.tld</taglib-uri>
			<taglib-location>/WEB-INF/taglib/fmt.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/fn.tld</taglib-uri>
			<taglib-location>/WEB-INF/taglib/fn.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/code2name.tld</taglib-uri>
			<taglib-location>/WEB-INF/taglib/code2name.tld</taglib-location>
		</taglib>
	</jsp-config>
</web-app>
