<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd">
            
	<bean id="oldPersonService" class="com.esite.ops.oldperson.service.impl.OldPersonServiceImpl"></bean>
	<bean id="oldPersonOperationLogService" class="com.esite.ops.oldperson.service.impl.OldPersonOperationLogServiceImpl"></bean>
	<bean id="oldPersonSocialSecurityService" class="com.esite.ops.oldperson.service.impl.OldPersonSocialSecurityServiceImpl"></bean>
	<bean id="oldPersonSocialSecurityImportLogService" class="com.esite.ops.oldperson.service.impl.OldPersonSocialSecurityImportLogServiceImpl"></bean>
	<bean id="oldPersonImportLogService" class="com.esite.ops.oldperson.service.impl.OldPersonImportLogServiceImpl"></bean>
	
	<bean id="oldPersonSecurityService" class="com.esite.ops.oldperson.service.impl.OldPersonSecurityServiceImpl"></bean>
	
	<bean id="fingerprintCollectService" class="com.esite.ops.oldperson.service.impl.FingerprintCollectServiceImpl"></bean>

	<bean id="fingerprintCollectLogService" class="com.esite.ops.oldperson.service.impl.FingerprintCollectLogServiceImpl"></bean>

</beans>