<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd">
            
	<bean id="healthInfoService" class="com.esite.ops.health.service.impl.HealthInfoService"></bean>
	<bean id="healthResultService" class="com.esite.ops.health.service.impl.HealthResultService"></bean>
	<bean id="fingerprintInfoService" class="com.esite.ops.health.service.impl.FingerprintInfoService"></bean>
	<bean id="healthPhotoService" class="com.esite.ops.health.service.impl.HealthPhotoService"></bean>
	<bean id="healthInfoImportLogService" class="com.esite.ops.health.service.impl.HealthInfoImportLogService"></bean>
	<bean id="healthInfoImportErrorLogService" class="com.esite.ops.health.service.impl.HealthInfoImportErrorLogService"></bean>
	<bean id="oldPersonWdVerifyService" class="com.esite.ops.health.service.impl.OldPersonWdVerifyService"></bean>
	
	<bean id="oldPersonWdVerifyLogService" class="com.esite.ops.health.service.impl.OldPersonWdVerifyLogService"></bean>
</beans>